@value makerGreen from '../../common/color.css';

.section {
  background-color: pink;
  /* flex: 1 1; */
  flex-basis: 50%;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}

.cards {
  width: 100%;
  height: 100%;
}
