.card {
  width: 100%;
  list-style: none;
  margin-left: 1em;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.name,
.company,
.theme {
  /* flex-basis: 33%; */
  font-size: 1.2rem;
}

.second {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title,
.email {
  flex: 1;
  font-size: 1.2rem;
}
