.card {
  width: 100%;
  list-style: none;
  margin-left: 1em;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first {
  width: 100%;
  display: flex;
}
