@value makerBlack from '../../common/color.css';

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  margin-bottom: 1em;
}

.input,
.textarea,
.select,
.button,
.fileInput {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;

  background-color: makerWhte;
}

.input,
.select {
  flex: 30%;
}
