@value makerBlack from '../../common/color.css';

.card {
  margin: auto;
  padding: 0 3rem;
  list-style: none;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.name,
.company,
.theme {
  flex-basis: 33%;
  font-size: 1.2rem;

  padding: 0;
  border: 0;
  border-top: 1px solid makerBlack;
  border-right: 1px solid makerBlack;
  border-left: 1px solid makerBlack;
}

.second {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title,
.email {
  flex: 1;
  flex-basis: 50%;
  font-size: 1.2rem;

  border: 0;
  border-top: 1px solid makerBlack;
  border-right: 1px solid makerBlack;
  /* border-left: 1px solid makerBlack; */
}
