@value makerGreen from '../../common/color.css';

.section {
  background-color: beige;
  /* flex: 1 1; */
  flex-basis: 50%;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}

.ul {
  padding: 0;
  margin: 0;
}
