@value makerGreen, makerLightGrey from '../../common/color.css';

.section {
  /* flex: 1 1; */
  flex-basis: 50%;
  padding: 0.5em 2em;
  border-right: 1px solid makerLightGrey;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}

.ul {
  padding: 0;
  margin: 0;
}
