@value makerWhite from '../../common/color.css';
@value mediaQuery from '../../common/size.css';

.maker {
  max-width: 80rem;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: makerWhite;
}

.container {
  flex: 1 1;
  display: flex;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
