@value makerWhite from '../../common/color.css';
@value mediaQuery from '../../common/size.css';

.maker {
  /* max-width 없냉 */
  max-width: 80rem;
  width: 100%;
  height: 100vh;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  background-color: makerWhite;
}

.container {
  /* flex: 1 */
  flex: 1 1;
  display: flex;
  min-height: 0;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
