@value makerGreen, makerWhite from '../../common/color.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: makerGreen;
  position: relative;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
}
