@value makerShadow, makerWhite, makerBlack, makerLightPink, makerColorful from '../../common/color.css';

.card {
  display: flex;
  margin: 2rem;
  padding: 1rem;
  background-color: makerWhite;
  border-radius: 1em;
  box-shadow: 6px 6px 8px 0px makerShadow;
}

.dark {
  background-color: makerBlack;
}
.light {
  background-color: makerLightPink;
}
.colorful {
  background-color: makerColorful;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 0;
}
