@value makerShadow, makerWhite, makerBlack, makerLightPink, makerColorful from '../../common/color.css';

.card {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 0.2em 0;
  border-radius: 1em;
  box-shadow: 6px 6px 8px 0px makerShadow;
  max-width: 30rem;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}
.card.light {
  background-color: makerLightPink;
  color: makerBlack;
}
.card.colorful {
  background: makerColorful;
  color: makerWhite;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2em;
  margin-bottom: 0;
}
