@value makerWhite, makerBlack, makerLightPink, makerColorful from '../../common/color.css';

.card {
  display: flex;
  margin: 2rem;
  padding: 1rem;
  background-color: makerWhite;
  border-radius: 20px;
}

.dark {
  background-color: makerBlack;
}

.text_part {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 0;
}
