@value makerLightGrey, makerLightPink from '../../common/color.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.button {
  width: 100%;
  background-color: makerLightGrey;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
}

.button:hover {
  opacity: 0.8;
}

@keyframes spin {
  0% {
  }
  100% {
    transform: rotate(360);
  }
}

.loading {
  width: 2em;
  height: 2em;
  border: 4px solid makerLightGrey;
  border-top: 4px solid makerLightPink;
  border-radius: 50%;

  text-align: center;
  animation: spin 2s linear infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode;i */
}
