@value makerLightGrey, makerLightPink from '../../common/color.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.input {
  display: none;
}

.button {
  width: 100%;
  background-color: makerLightGrey;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
}

.button:hover {
  opacity: 0.8;
}

@keyframes loading_spinner {
  0% {
  }
  100% {
    transform: rotate(360);
  }
}

.loading {
  border: 6px solid makerLightGrey;
  border-top: 6px solid makerLightPink;

  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  animation: loading_spinner 1000;
  /* animation: name duration timing-function delay iteration-count direction fill-mode;i */
}
